<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<style>

form#verify-sms .control {
    width:  100%;
    max-width: 380px;
    float:  left;
}
form#verify-sms input[type="text"] {
    height: 45px;
    width: 62px;
    margin-left: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

form#verify-sms .label {
    font-size:  20px;
}

form#verify-sms .instruction-label {
    font-size: 12px;
    color: #444;
    margin-bottom: 15px;
}

form#verify-sms .submit.primary {
    height: 45px;
    border-radius:  5px;
    padding:  0px 25px;
}

form#verify-sms .resend_btn {
    display: inline-block;
    font-size:  12px;
    cursor:  pointer;
}

form#verify-sms input[type="text"]:first-child {
    margin-left:  0px;
}
form#verify-sms .mage-error[generated] {
    position: absolute;
    margin-top: 20px;
    display: none !important;
}


@media only screen and (max-width: 767px) {
  form#verify-sms div.control {
      text-align: center;
      margin-bottom: 20px;
  }

  form#verify-sms input[type="text"] {
      width: 16.666%;
  }

  form#verify-sms div.mage-error[generated] {
      margin-top: 0;
  }
}
</style>

<form class="form verify-sms"
      action="#"
      id="verify-sms"
      method="post"
      data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
>
    <div class="note"></div>
    <fieldset class="fieldset">
       
        <div class="field name required">
            <p class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Phone number verification') ?></span></p>
            <p class="instruction-label">Enter 5 digit code sent to your phone.</p>
            <div class="control">
                <input name="verification_code[1]"  maxlength="1" id="verification_code[1]"
                 onkeyup="movetoNext(this, 'verification_code[2]')"
                 title="<?php /* @escapeNotVerified */ echo __('Code') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                <input name="verification_code[2]"  maxlength="1" id="verification_code[2]" 
                 onkeyup="movetoNext(this, 'verification_code[3]')"
                 title="<?php /* @escapeNotVerified */ echo __('Code') ?>" class="input-text" type="text" data-validate="{required:true}"  />
                <input name="verification_code[3]"  maxlength="1" id="verification_code[3]"
                  onkeyup="movetoNext(this, 'verification_code[4]')" title="<?php /* @escapeNotVerified */ echo __('Code') ?>" class="input-text" type="text" data-validate="{required:true}" />
                <input name="verification_code[4]"  maxlength="1" id="verification_code[4]" 
                  onkeyup="movetoNext(this, 'verification_code[5]')"title="<?php /* @escapeNotVerified */ echo __('Code') ?>" class="input-text" type="text" data-validate="{required:true}"/>
                <input name="verification_code[5]"  maxlength="1" id="verification_code[5]" title="<?php /* @escapeNotVerified */ echo __('Code') ?>" class="input-text" type="text" data-validate="{required:true}"/>

            </div>
            <div class="actions-toolbar">
            <div class="primary">
                <input type="hidden" name="order_id" class="input-text required-entry" value="<?php echo $block->getOrderId(); ?>" />
                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Verify Order') ?>" class="action submit primary">
                    <span><?php /* @escapeNotVerified */ echo __('Confirm') ?></span>
                </button>
         
            </div>
        </div>

        <div class="resend_btn"><span><?php /* @escapeNotVerified */ echo __('Resend a Code?') ?></span></div>
            
     
    </fieldset>
    
</form>
   
<?php 
$resendUrl = $block->getUrl('aasms/index/resend', ['_secure' => true]);
$ajaxurl = $block->getUrl('aasms/index/verify', ['_secure' => true]);
?>
<script type="text/x-magento-init">
        {
            "*": {
                "Aalogics_Sms/js/verifyajax": {
                    "AjaxUrl": "<?php echo $ajaxurl; ?>"
                }
            }
        }
</script>

<script>
  sendCodeCounter = 1;
    require([
       'jquery',
       'prototype',
    ], function(jQuery){
       jQuery('.resend_btn').click(function () {
        if(sendCodeCounter == 3)
          $(this).hide();

        sendCodeCounter++;
            jQuery.ajax({
    showLoader: true,
              url: "<?php  echo $resendUrl; ?>",
            }).done(function( msg ) {
                console.log(msg);
                console.log('enter');    
            });
       });

    });
</script>

      <script type="text/javascript">  
function movetoNext(current, nextFieldID) {  
if (current.value.length >= current.maxLength) {  
document.getElementById(nextFieldID).focus();  
}  
}  
</script>  

<script type="text/javascript">
require(['jquery', 'jquery/ui'], function($){ 
   
  $(document).ready(function(){

    $('body').on('keyup', 'input.input-text', function()
    {
      var key = event.keyCode || event.charCode;
      var inputs = $('input.input-text');
      if( key == 8 || key == 46 )
      {
        var indexNum = inputs.index(this);
        if(indexNum != 0)
        {
        inputs.eq(inputs.index(this) - 1).val('').focus();
        }
      }

    });
  });
 });
</script>